/* Global */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-family: Tahoma, Arial;
}

body {
    margin: 0;
    height: 100%;
}

li {
    list-style: none;
}
/* Header */
.header {
    width: 100%;
    height: 70px;
    background-color: #0431aa;
    clear: both;
    display: block;
}

/* Main */
.main {
    width: 100%;
    height: calc(100% - 85px);
    clear: both;
}

/* Slider */

.place-slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.place-slider > input {
    display: none;
}

.place-slider .controls {
    position: absolute;
}

.place-slider label {
    cursor: pointer;
    display: block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.place-slider label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.slider {
    width:calc(100% - 200px);
    height: 100%;
    margin-left: 200px;
    background: #000;
    overflow: hidden;
    position: relative;
}

.slides {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.slides.slide1 {
     background: aquamarine;
}



.slides.slide2 {
    background: #ebebeb;
}

.slides.slide3 {
    background: #ebebeb;
}

.slides.slide4 {
    background: #ebebeb;
}

.place-slider label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background: #ddd;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
}

/* Footer */
.footer{
    width: 100%;
    height: 15px;
    background-color: brown;
    clear: both;
}

/* Page System */
.system-container {
    width: 500px;
    height: 400px;
    position: relative;
    top: 10%;
    left: 20%
}

.system-container > ul {
    float: left;
    margin: 5px 0 5px 20px;
    display: block;
    position: relative;
}

.system-container input {
    width: 40px;
}

.system-container h4 {
    text-align: center;
    clear: both;
}

.system-container button {
    margin: 0 0 0 166px;
    display: block;
    position: relative;
    clear: both;
}

.system-container h6 {
    text-align: center;
    clear: both;
    margin: 5px 0 5px 0;
}

/* Page Peripherals */

.peripheral-container {
    width:900px;
    height: 65px;
    margin-top: 15px;
}

.peripheral-container form{
    width: 100%;
    height: 100%;
}
.peripheral-container h3 {
    margin-left: 25px;
}
.peripheral-container div {
    clear: both;
    margin: 5px 0 0 25px;
}

.peripheral-table {
    border-spacing: 0;
    text-align: center;
    background: #626262;
    margin: 20px 0 10px 25px;
    float: left;
}


.peripheral-table > tbody > tr:first-child > td {
    height: 40px;
    background-color: #626262;
    color: white;
}

.peripheral-table > tbody > tr:last-child select {
    margin-bottom: 5px;
}

.peripheral-table > tbody > tr > td:last-child {
    background: #ebebeb;
    color: #000;
    width: 40px;
}

.peripheral-table > tbody > tr > td:first-child {
    width: 60px;
    background-color: #626262;
    color: white;
}

.peripheral-table select{
    width: 300px;
    height: 24px;
    margin-right: 10px;
}

/* Remote Controller */

.remote-controller {

}

.rem-con-table {
    width: 700px;
    height: 500px;
    border: 1px solid black;
    background: white;
}

.rem-con-table > div {
    width: 80px;
    height: 50px;
    border: 1px solid black;
    float: left;
    text-align: center;
    background: rgba(0, 0, 0, 0.71);
    color: white;
    border-radius: 6px;
}

.line1.first-td {
    clear: left;
    margin: 55px 3px 3px 25px;
}

.line1.but-p {
    margin: 55px 3px 3px 3px;
}

.line2.first-td {
    margin: 3px 3px 3px 25px;
    clear: left;
}

.line2.but-p {
    margin: 3px;
}

.line2.but-s {
    margin: 3px 0 3px 30px;
}

.line2.but-i {
    margin: 3px 0 3px 30px;
    background: white;
    border: 1px solid white;
}

.led {
    width: 6px;
    height: 6px;
    background: rgba(212, 34, 34, 0.92);
    margin: 4px;
    border-radius: 50%;
}

.led-green {
    width: 6px;
    height: 6px;
    background: green;
    margin: 4px;
    border-radius: 50%;
}

.but-p:hover {
    background: grey;
    cursor: pointer;
}

.first-td:hover{
    background: gray;
    cursor: pointer;
}

